<html>
<head>
    <title>About hotel</title>
</head>
    <style>
    .header {
            display: flex;
            margin: 0;
            background-color: maroon;
            height: 35px;
            text-align: center;
            padding-top: 12px;
        }

        .header a {
            padding-left: 50px;
            color: aqua;
            font-weight: bold;
            text-decoration: none;
        }
    
    body {
            background-color: #cce6ff;
            
        }
    
    </style>
    <div class="header">
        <a href="home.html"><button>Home</button></a>
        <a href="#"><button>Registration</button></a>
        <a href="#"><button>About</button></a>
        <a href="contacts.html"><button>Contacts</button></a>
    </div>
    <body>
    <h1> Hotel Kazakhstan</h1>
        <p>Hotel Kazakhstan is the third-tallest building in the city of Almaty, Kazakhstan. It is 102 m (335 ft) tall, with 26 floors. It is situated in the southern center of Almaty. It is located on Dostyk Avenue, a major road in the east part of the city which runs all the way from Medeo to Panfilov Park, in the north part of town.

The building was erected in 1977. It is constructed to stand an earthquake that measures 9.0 on the Richter scale. It is a famous landmark all over Almaty, and serves as a symbol of the city. It is also the eighth-tallest building in all Kazakhstan.</p>
    </body>
</html>