<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The name of hotel</title>
    
</head>
    <style>
        .header {
            display: flex;
            margin: 0;
            background-color: maroon;
            height: 35px;
            text-align: center;
            padding-top: 12px;
        }

        .header a {
            padding-left: 50px;
            color: aqua;
            font-weight: bold;
            text-decoration: none;
        }
        body {
            background-color: #cce6ff;
            
        }
    
    </style>
    <div class="header">
        <a href="#"><button>Home</button></a>
        <a href="#"><button>Registration</button></a>
        <a href="about.html"><button>About</button></a>
        <a href="contacts.html"><button>Contacts</button></a>
    </div>
<body>
    
<ul>
    <li>News 1</li>
    <p> Event of hotel: </p>
    <li>News 2</li>
    <p> What happened with hotel?</p>
    <li>News 3</li>
    <p> Wow. It was amazing</p>
</ul>
    
</body>
</html>